body {
	backgroud-color: #d2b48c;
	margin-left: 8%;
	margin-right: 8%;
	border: 1px dotted gray;
	padding: 10px 10px 10px 10px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: medium;
	line-height: 1.6em
}

h1, h2 {
	color: #007e7e;
}

h1 {
	text-decoration: underline;
	font-size: 150%;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 100%;
	text-align: left;
}

p {
	color: maroon;
	text-align: left;
}

em {
	font-weight: bolder;
	text-decoration: blink;
}

blockquote {
	font-style: italic;
}

.container {
  text-align: left;
}

#id_new_item {
	margin-top: 2ex;
	text-align: center;
}

#guarantee {
	line-height: 1.9em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #444444;
	border-color: white;
	border-width: 1px;
	border-style: dashed;
	background-color: #a7cece;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 250px;
	background-image: url(images/background.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

#footer {
	font-size: 70%;
	text-align: center;
	line-height: normal;
	margin-top: 30px;
}

#content {
	/*width: 400px;*/
	border: thin solid #007e7e;
	margin: 0px 20px 20px 20px;
	padding: 0px 20px 30px 10px;
	background: white url(images/cocktail.gif) repeat-x;
	/*text-align: center;*/
	line-height: 2em
}

#elixirs h2 {
	color: black;
}

#elixirs h3 {
	color: #d12c47;
}

#elixirs a:link {
	color: #007e7e;
}

#elixirs a:visited {
	color: #333333;
}

#elixirs a:hover {
	background: #f88396;
	color: #0d5353;
}