body {
	backgroud-color: #b5a789;
	margin-left: 8%;
	margin-right: 8%;
	border: 1px dotted gray;
	padding: 10px 10px 10px 10px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: medium;
	line-height: 1.6em
}

h1 {
	text-decoration: underline;
	font-size: 150%;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 100%;
	text-align: left;
}

p {
	color: maroon;
	text-align: left;
}

em {
	font-weight: bolder;
	text-decoration: blink;
}

blockquote {
	font-style: italic;
}

a:link {
	color: #007e7e;
}

a:visited {
	color: #333333;
}

a:hover {
	background: #f88396;
	color: #0d5353;
}

.container {
	border: thin solid #007e7e;
	background-color:  #b5a789;
	background: url(images/cocktail.gif) repeat-x;
	background-position: bottom;
	text-align: left;
}

#header {
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
}

#footer {
	background-color: #675c47;
	color: #efe5d0;
	font-size: 90%;
	text-align: center;
	line-height: normal;
}

#directory {

	line-height: 2em;
	border: thin solid #007e7e;
	margin-right: 10px;
	padding: 10px;
	width: 190px;
	float: left;
}

#content {
	margin: 0px 0px 0px 50px;
	padding: 10px;
	line-height: 2em;
}

#sidebar {
	border: thin solid #007e7e;
	background-color: #efe5d0;
	margin: 10px;
	padding: 15px;
	font-size: 105%;
	width: 250px;
	height: 368px;
	float: right;
}

#slideview {
	border: thin solid #007e7e;
	background-color: #efe5d0;
	margin: 0px 290px 10px 0px;
	padding: 20px 0px 0px 50px;
	line-height: 2em;
}

.slogan {
	color: #954b4b;
}



