<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Application{% endblock %}</title>
    <link href="/static/base.css" rel="stylesheet" media="screen">
    {% block css %} {% endblock %}
</head>

<body>
    <header id="header">
              <h1>{% block header_text %}{% endblock %}</h1>
              {% if form %}
                  <form method="POST" action="{% block form_action %}{% endblock %}">
                      {{ form.text }}
                      {% csrf_token %}
                      {% if form.errors %}
                          <div class="form-group has-error">
                            <span class="help-block">{{ form.text.errors }}</span>
                          </div>
                      {% endif %}
                  </form>
              {% endif %}
          </header>

    <div class="container">
          {% if directory %}
              <section class="row" id="directory">
                  {% block directory %} {% endblock %}
               </section>
          {% endif %}

          {% if sidebar %}
              <aside class="row"  id="sidebar">
                      {% block sidebar_content %} {% endblock %}
              </aside>
          {% endif %}

          <section class="row" id="content">
                {% block content %} {% endblock %}
           </section>

      <hr>
      <p>
          <a href={% url 'homepages:home' %}> Back Home </a>
      </p>
     </div>

    <footer id="footer">
        <small>
            &copy; 2018, Xu Zhiyong's Web-Site<br>
            All trademarks and registered trademarks appearing on this site are
            the property of their respective owners.
        </small>
    </footer>
</body>
</html>